<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.betuldemirci.gout">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gout_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gout_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>


        <activity
            android:name=".Activity.ListFriendsToAddChallenge"
            tools:ignore="InnerclassSeparator">
        </activity>


        <activity
            android:name=".Activity.AddNewChallengeActivity"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity
            android:name=".Activity.OnBoardingActivity"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".Activity.VideoActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".Activity.LoginActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".Activity.SignupActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity
            android:name=".Activity.SplashActivity"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--BACKGROUND PEDOMETER-->
        <service
            android:name="com.example.betuldemirci.gout.Pedometer.SensorService"
            android:enabled="true" >
        </service>

        <receiver
            android:name="com.example.betuldemirci.gout.Pedometer.SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.example.betuldemirci.gout.Pedometer.RestartSensor"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>